.letters-header {
    display: inline-flex;
}

.letters-header h1{
    margin-left: 15rem;
}

.letters {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: black;
    text-align: center;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.letters-display {
    display: inline-flex;
    margin: 0;
    width: 100%;
    height: 28rem;
}

.letter-label,
.letter-val {
    font-size: 4rem;
    color: white;
    float: left;
    padding-left: 1rem;
    background-color: rgb(48, 13, 59);
}

.letter-a {
    font-size: 23rem;
    color: darkgrey;
    font-weight: 600;
    background-color: rgb(48, 13, 59);
    width: 45%;
}

.letter-drawing-canva {
    float: right;
    width: 49%;
    border: none;
    box-shadow: 1px 1px 3px 1px rgb(64, 61, 65);

}


#next-letter-btn {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
    animation: none;
    font-weight: bolder;
    color: white;
    background-color: rgb(48, 13, 59);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#next-letter-btn:hover,
#next-letter-btn:focus {
    background-color: #fff;
    color: rgb(48, 13, 59);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#prev-letter-btn {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
    animation: none;
    font-weight: bolder;
    color: rgb(48, 13, 59);
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#prev-letter-btn:hover,
#prev-letter-btn:focus {
    background-color: rgb(48, 13, 59);
    color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}