#progressBar {
    position: relative;
    width: 60%;
    height: 20px;
    background-color: rgb(190, 188, 188);
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 40px;
}

#barStatus {
    position: absolute;
    width: 8%;
    height: 100%;
    background-color: rgb(48, 13, 59);;
    border-radius: 10px 0px 0px 10px;
}
