.survey-form {
    /* padding: ; */

    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
}

.survey-form label {
    color: rebeccapurple;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}

.survey-form select {
    width: 30%;
    height: 35px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.survey-form select:hover,
.survey-form select:focus,
.survey-form select option:hover,
.survey-form select option:focus {
    border: none;
    border-bottom: 2px solid rebeccapurple;
}